@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color : #cccfe0;
  --primary-color-200 : #cccfe0d0;

  --background-color-100 : #191d30;
  --background-color-200 : #111320;
  --background-color-300 : #090b14;

  --text-color : #FFF;
  --highlight-color : #D979AB;
}